*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-start;
}

header .left-group{
    width: 45%;
}

header ul, p{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

header ul li{
    display: inline-block;
    /* margin-right: 2em; */
}

header ul{
    display: flex;
    gap: 2em;
}

.vertical-line{
    border-left: 1px solid gray;
    height: 80%;
}

header button{
    margin-left: auto;
    border: 2px solid gray;
    max-width: min-content;
    padding: .5em 1em;
    transition: 0.3s ease;
}

header button:hover{
    color: black;
    background-color: rgb(242, 236, 236);
    transition: 0.3s ease;
}

.poster{
    background-image: url('https://placehold.co/1920x400');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.poster .container button{
    background-color: white;
    border: none;
    color: gray;
    transition: .3s ease;
}

.poster .container button:hover{
    color: black;
    background-color: rgb(242, 236, 236);
    transition: 0.3s ease;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.title-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-group .left, .right{
    width: 20%;
    height: 1px;
    background-color: gray;
}

@media (max-width: 1200px) {
    header .left-group{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .poster .container h1, p{
        text-align: center;
    }

    .poster .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }   
}