body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(18, 17, 17);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p{
    padding: 0;
    margin: 0;
}

header .group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

header .group a{
    color: white;
}

header .group button{
    background-color: rgb(33, 31, 31);
    border: none;
}

.container{
    display: flex;
    margin: 0;
    padding: 0;
}

aside{
    min-width: 200px;
}

.container main{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.about-product h2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}