body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: rgb(188, 236, 115);
    padding: 1em;
    justify-content: center;
    align-items: center;
}

header .wrapper{
    width: 70%;
}

.container{
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.container .wrapper{
    width: 70%;
    display: flex;
}

.container .wrapper aside{
    width: 20%;
    max-width: 250px;
    min-width: 200px;
}

.container .wrapper main{
    display: flex;  
    flex-wrap: wrap;
    gap: 1em;
}

.container .wrapper main .card{
    flex-basis: 30%;
    min-height: 200px;
}

.container .wrapper main .card img{
    flex-basis: calc(33% - 1em);
    width: 200px;
    height: 200px;
}