body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(188, 236, 115);
}

main{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}